data:
  batch_size: [64, 256]
  num_workers: [2, 2] # local, hpc
  path: ["../peptide_atlas/build", "/home/lavertu/scratch/QMAP/dataset"]
training:
  num_epochs: 20
  lr: 1.e-5
  min_lr: 0.
  weight_decay:  1.e-4
  loss: "MSE"
  optimizer: "AdamW"
model:
  model_dir: ["saved_models/ESM", "/home/lavertu/scratch/QMAP/saved_models"]
  weights_path: [".weights/esm2", "/home/lavertu/scratch/QMAP/weights/esm2"]
  name: "ESM_150M"
  attention_heads: 20
  embed_dim: 640
  num_layers: 30
  head_dropout: 0.
  proj_dim: 128
